body {
    margin: 0;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row {
    display: flex;
    gap: 12px;
}

input,
textarea {
    padding: 12px;
    border: solid 1px #444;
    border-radius: 6px;
    background-color: transparent;
    outline-width: 1px;

    &.ng-touched.ng-invalid {
        border-color: red;
    }
}

button {
    border-radius: 6px;

    &.mat-button.mat-button-disabled.mat-button-disabled {
        color: #bbb;
    }

    // &:disabled {
    //     color: #bbb;
    // }
}

p {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
}

* {
    box-sizing: border-box;
}

// ::-webkit-scrollbar-thumb {
//     width: 0;
// }

// ::-webkit-scrollbar-track {
//     width: 0;
// }