.in-progress {
    position: fixed;
    inset: 0;
    background-color: rgba($color: #000000, $alpha: .7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 40px;
}

.item {
    padding: 12px;
    border-radius: 8px;
    border: solid 1px #ccc;
}

.error {
    color: red;
    font-size: 24px;
}

button {
    align-self: flex-start;
    padding: 6px 12px;
}