<div *ngFor="let block of [1,2,3]" class="block row" [class.reverse]="!(block % 2)">
    <div class="list col">
        <div *ngFor="let item of [1,2,3,4,5]" class="list-item"> Item #{{item}} for block #{{block}} </div>
    </div>
    <div class="sticky">
        Block #{{block}}
    </div>
</div>

<div class="multisticky col">
    <div class="title">
        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <div class="back"></div>
    <div *ngFor="let item of [1,2,3,4]" class="item row">
        <div class="l row"> Lorem, ipsum, {{item}} </div>
        <div class="r col">
            <img [src]="'/assets/images/nature-0' + item + '.jpg'">
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <button type="button" mat-raised> Action for #{{item}} </button>
        </div>
    </div>
</div>